<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EJS File 01</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 text-zinc-300 p-5 h-screen">
	<div 
	class="flex justify-center items-center">
		<h1 class="block text-3xl font-semibold">
			Task List
		</h1>
	</div>
	<section class="mb-12 flex justify-center items-center">
		<form class="space-y-4 p-4 w-[60%]" action="/create" method="post">
		  <div>
			<label for="title" class="block text-sm font-medium mb-1">Title</label>
			<input
			  type="text"
			  id="title"
			  placeholder="Enter title"
			  name="title"
			  class="w-full p-3 bg-zinc-800 border border-zinc-700 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
			/>
		  </div>
		  <div>
			<label for="description" class="block text-sm font-medium mb-1">Description</label>
			<textarea
			  id="description"
			  placeholder="Enter description"
			  rows="4"
			  name="details"
			  class="w-full resize-none p-3 bg-zinc-800 border border-zinc-700 rounded focus:outline-none focus:ring-2 focus:ring-blue-500	"
			></textarea>
		  </div>
		  <button
			type="submit"
			class="text-white w-full py-3 bg-blue-500 hover:bg-blue-600 rounded font-semibold transition-colors"
		  >
			Create Task
		  </button>
		</form>
	  </section>
	  <div class="flex justify-center">
		<h4 class="text-2xl text-zinc-300 font-bold">Prev tasks Here</h4>
	  </div>

	  <section class="p-4 flex gap-3 justify-center">
		<% if(files.length == 0) { %>
			<h3 class="text-zinc-300">No Tasks Yet.</h3>
		<% } %>
		<% files.forEach( (elem) => { %>
			<div class="border rounded bg-zinc-800 px-3 py-4 min-h-40 ring-2 ring-blue-500 flex flex-col">
				<p class="block text-2xl"><%=elem %></p>
				<div class="flex justify-between mt-auto">
					<a class="block text-blue-200" href="/tasks/<%= elem %>">Read More.</a>
					<a href="/tasks/<%=elem %>/edit">edit</a>
				</div>
			</div>
		<% }) %>
	  </section>
	  <a href="/clear">
		<section class="text-white text-xl font-semibold fixed bottom-4 right-4 bg-red-500 p-3 rounded">
			<p>Clear All.</p>
		</section>
	  </a>
	  
</body>
<script src="/javascripts/script.js"></script>
</html>